.animal-table {
    background-color: rgb(122, 0, 0);
    width: 50%;
    height: 300px;
    border: black 1px solid;
    color: white;
}

td {
    border: black 1px solid;
    font-size: 50px;
}

.table h1{
    font-size: 50px;
}

.table a{
    color: blue;
}

.table a:hover {
    color: aqua;
    transition: 500ms;
}